#-----------------------------------Client----------------------------------------
LeaveTheDarkness_Client/[Ll]ibrary/
LeaveTheDarkness_Client/[Tt]emp/
LeaveTheDarkness_Client/[Oo]bj/
LeaveTheDarkness_Client/[Bb]uild/
LeaveTheDarkness_Client/[Bb]uilds/
LeaveTheDarkness_Client/[Ll]ogs/
LeaveTheDarkness_Client/[Mm]emoryCaptures/

!LeaveTheDarkness_Client/[Aa]ssets/**/*.meta
# LeaveTheDarkness_Client/[Aa]ssets/AssetStoreTools*
LeaveTheDarkness_Client/[Aa]ssets/Plugins/Editor/JetBrains*

LeaveTheDarkness_Client/ExportedObj/

#-----------------------------------Server----------------------------------------
LeaveTheDarkness_Server/[Ll]ibrary/
LeaveTheDarkness_Server/[Tt]emp/
LeaveTheDarkness_Server/[Oo]bj/
LeaveTheDarkness_Server/[Bb]uild/
LeaveTheDarkness_Server/[Bb]uilds/
LeaveTheDarkness_Server/[Ll]ogs/
LeaveTheDarkness_Server/[Mm]emoryCaptures/

!LeaveTheDarkness_Server/[Aa]ssets/**/*.meta
# LeaveTheDarkness_Server/[Aa]ssets/AssetStoreTools*
LeaveTheDarkness_Server/[Aa]ssets/Plugins/Editor/JetBrains*

LeaveTheDarkness_Server/ExportedObj/

#-----------------------------------All----------------------------------------
.vs/
.gradle/

.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*.pidb.meta
*.pdb.meta
*.mdb.meta

sysinfo.txt

*.apk
*.unitypackage

crashlytics-build.properties